.message {
    margin-left: auto;
}

.imageAndText {

}

.imageAndTime img {

}


.messageBoxInner {
    background: #0066CC;
    color: #FFFFFF;
    border-top-right-radius: 6px;
}

.text {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: -2px 1px 1px 0px rgba(29, 33, 38, 0.1);
}

.text {

}

.text:after {

}

.name {
    text-align: end;
}

.messageText {

}

.time {

}